{% extends 'base.html' %} {% block start %}
<div class="container mt-5">
<h1>Recipe Table</h1>
<br/>
<a href="/render-recipe/" class="btn btn-success" >Add Recipe</a>
<hr/>
<br/>

<form >
  <input type="text" class="form-control" placeholder="Search.." name="search">
  <br/>
  <button class="btn btn-success" type="submit">Search<button/>
</form>
<br/>

<table class="table">
  <br/>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Description</th>
      <th scope="col">Recipe Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in all_recipe%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{recipe.title}}</td>
      <td>{{recipe.description}}</td>
      <td><img src= "/media/{{recipe.recipe_image}}" height="200"/></td>
      <td>
        <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger" >Delete<a/>
          <hr/>
        <a href="/update-recipe/{{recipe.id}}/" class="btn btn-success" >Update<a/>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
